# database

db.sqlite3

.DS_Store
.idea
rateMyCourse/templates/rateMyCourse/index.scss
rateMyCourse/templates/rateMyCourse/index.css
rateMyCourse/static/ratemycourse/javascript/test.html
rateMyCourse/static/ratemycourse/javascript/temp.html
*.pyc
__pycache__/
*.pyc
rateMyCourse/templates/rateMyCourse/temp.html
rateMyCourse/migrations/*

# vs code
.vscode
