p{
  word-wrap:break-word;
}

.btn {
  transition: color 0.5s ease;
}

.btn.no-outline:hover,
.btn.no-outline:focus,
.btn.no-outline:active:focus,
.btn.no-outlineactive:focus,
.btn.no-outline.focus,
.btn.no-outline.active,
.btn.no-outline:active.focus,
.btn.no-outline.active.focus {
  box-shadow:none;
}

form label.error{
color: Red;
}

form input.error{
border:solid 1px red;
}

hr{
  margin:0;
}

hr.float{
  margin: -1px;
  border-color: #646464;
  border-width:2px;
}
