<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">弗评</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa d-inline fa-lg fa-envelope-o"></i> 联系我们</a>
          </li>
        </ul>
        <div class="dropdown open" id="menuLogin">
          <a class="btn text-white btn-primary" href="#" data-toggle="dropdown" id="navLogin"><i class="fa d-inline fa-lg fa-user-circle-o"></i> 登录/注册</a>
          <div class="dropdown-menu" style="padding:17px;">
            <form id="formLogin" action="login" method="post"> <label>登录</label>
              <input name="_csrf" id="token" type="hidden" value="j36UbzJj-9xfMaHD4vGY5JGtcK5foqJznYpo">
              <input id="username" type="text" placeholder="用户名" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" equired="" class="form-control" name="username">
              <input id="password" type="password" placeholder="密码" required="" class="form-control" name="password">
              <br>
              <input type="submit" id="btnLogin" class="btn btn-primary" value="登录"> </form>
            <form action="signUpTrigger" method="post">
              <a href="#" id="btnNewUser" data-toggle="collapse" data-target="#formRegister" class="">新用户注册</a>
            </form>
            <form id="formRegister" class="form in collapse" style="height: auto;" action="signUp" method="post">
              <input name="_csrf" id="token" type="hidden" value="j36UbzJj-9xfMaHD4vGY5JGtcK5foqJznYpo">
              <input id="inputEmail" type="email" placeholder="Email" required="" class="form-control" name="email">
              <input name="username" id="inputUsername" type="text" placeholder="用户名" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Choose a username" required="" class="form-control">
              <input id="inputpassword" type="password" placeholder="密码" required="" class="form-control" name="password">
              <input name="verify" id="inputVerify" type="password" placeholder="确认密码" required="" class="form-control">
              <br>
              <input type="submit" id="btnRegister" class="btn btn-primary" value="注册"> </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center opaque-overlay" style="background-image: url('../../static/ratemycourse/images/indexPageBackground.png');">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-12 text-white">
          <h1 class="display-3 mb-4">弗评</h1>
          <p class="lead mb-5">为大学选课排忧解难</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-university" style="font-size:93pt"></i></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown open">
                <a class="btn btn-light btn-lg dropdown-toggle my-1" href="#" data-toggle="dropdown" id="buttonSelectSchool">选择学校</a>
                <div class="dropdown-menu" id="schoolList">
                  <!--Action needed-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-paint-brush" style="font-size:93pt"></i></div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown open" id="buttonSelectDepartment">
                <a class="btn btn-light btn-lg dropdown-toggle selectDepartment disabled my-1" href="#" data-toggle="dropdown">选择专业</a>
                <div class="dropdown-menu" id="departmentList">
                  <!--Action needed-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 p-4">
          <div class="row">
            <div class="col-md-12"> <i class="fa fa-search" style="font-size:93pt;"></i> </div>
          </div>
          <!--img class="img-fluid d-block rounded-circle mx-auto" src="https://pingendo.github.io/templates/sections/assets/test_carlito.jpg"-->
          <div class="row">
            <div class="col-md-12">
              <div class="dropdown open" id="buttonSelectSchool">
                <a class="btn btn-light btn-lg my-1" href="#" data-toggle="dropdown">搜索课程</a>
                <div class="dropdown-menu">
                  <!--Action needed-->
                  <div class="input-group">
                    <input id="searchboxCourse" class="form-control input-lg" placeholder="请输入课程名" autocomplete="off"> <span class="input-group-addon"><i class="fa fa-search"></i></span> </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
    <div class="text-white bg-secondary">
      <div class="container">
        <div class="row">
          <div class="p-4 col-md-4">
            <h2 class="mb-4">Flamenco
              <br> </h2>
            <p class="text-white">六人小型开发团队</p>
          </div>
          <div class="p-4 col-md-4">
            <h2 class="mb-4">关于我们</h2>
            <ul class="list-unstyled">
              <a href="#" class="text-white">弗朗明戈舞步团队</a>
              <br>
              <br> </ul>
          </div>
          <div class="p-4 col-md-4">
            <h2 class="mb-4">联系方式</h2>
            <p>
              <a href="mailto:info@pingendo.com" class="text-white"><i class="fa d-inline mr-3 text fa-envelope-o"></i>info@flamenco.com</a>
            </p>
            <p>
              <a href="https://goo.gl/maps/AUq7b9W7yYJ2" class="text-white" target="_blank"><i class="fa d-inline mr-3 fa-map-marker text"></i>北京市海淀区学院路37号</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <p class="text-center text-white">© Copyright 2017 Flamenco - All rights reserved. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/popper.min.js"></script>
  <script src="../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
  <script src="../../static/ratemycourse/javascript/index.js"></script>
</body>

</html>