<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../static/ratemycourse/css/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary h- h-25">
    <div class="container">
      <a class="navbar-brand" href="#">弗评</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li>
            <form class="form-inline m-0">
              <input class="form-control input-lg" type="text" placeholder="搜索学校/专业/课程" style="float:right"> </form>
          </li>
        </ul>
        <div class="dropdown open" id="menuLogin">
          <a class="btn text-white btn-primary" href="#" data-toggle="dropdown" id="navLogin"><i class="fa d-inline fa-lg fa-user-circle-o"></i> 登录/注册</a>
          <div class="dropdown-menu" style="padding:17px;">
            <form id="formLogin" onsubmit="return Func_signIn()"> <label>登录</label>
              <div class="form-group">
                <input id="username" type="text" placeholder="用户名" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" equired="" class="form-control" name="username"> </div>
              <div class="form-group">
                <input id="password" type="password" placeholder="密码" required="" class="form-control" name="password"> </div>
              <input type="submit" id="btnLogin" class="btn btn-primary" value="登录"> </form>
            <form action="signUpTrigger" method="post">
              <a href="#" id="btnNewUser" data-toggle="collapse" data-target="#formRegister" class="">新用户注册</a>
            </form>
            <form id="formRegister" class="form in collapse" style="height: auto;" onsubmit="return Func_signUp()">
              <div class="form-group">
                <input id="inputEmail" type="email" placeholder="Email" required="" class="form-control" name="email"> </div>
              <div class="form-group">
                <input name="username" id="inputUsername" type="text" placeholder="用户名" pattern="^[a-z,A-Z,0-9,_]{6,15}$" data-valid-min="6" title="Choose a username" required="" class="form-control"> </div>
              <div class="form-group">
                <input id="inputPassword" type="password" placeholder="密码" required="" class="form-control" name="password"> </div>
              <div class="form-group">
                <input name="verify" id="inputVerify" type="password" placeholder="确认密码" required="" class="form-control"> </div>
              <input type="submit" class="btn btn-primary" value="注册"> </form>
          </div>
        </div>
        <div class="dropdown" id="menuUser">
          <a class="btn text-white btn-primary" href="#" data-toggle="dropdown" id="navUser"></a>
          <div class="dropdown-menu" style="padding:17px;">
            <a href="#" id="buttonLogOut" class="dropdown-item btn btn-primary school" onclick="Func_signOut()">注销</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container"> {% for course in courses %}
    <div class="row bg-primary">
      <div class="col-md-5 text-md-left text-center align-self-center my-4">
        <table>
          <tbody>
            <tr>
              <td>
                <h1 class="">{{course.name}}</h1>
              </td>
            </tr>
            <tr>
              <td>
                <p>{{course.school}}-&gt;{{course.department}}-&gt;{{course.ID}}</p>
                <p>类型:{{course.type}} 学分:{{course.credit}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 text-md-left text-center align-self-center my-4">
        <table>
          <tbody>
            <tr>
              <td>
                <p>评分：{{course.rateScore}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p>评价数：{{course.ratenumber}}</p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 text-md-left text-center align-self-center my-4">
        <table>
          <tbody>
            <tr>
              <td><i class="fa fa-star-o" aria-hidden="true" style="font-size:32px"></i> <i class="fa fa-star-o" aria-hidden="true" style="font-size:32px"></i> <i class="fa fa-star-o" aria-hidden="true" style="font-size:32px"></i> <i class="fa fa-star-o"
                  aria-hidden="true" style="font-size:32px"></i> <i class="fa fa-star-o" aria-hidden="true" style="font-size:32px"></i></td>
            </tr>
            <tr>
              <td>
                <a class="btn btn-secondary" href="">评价本课程 </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> {% endfor %} </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>