<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../../../static/ratemycourse/css/new-age.css" />
  <link rel="stylesheet" href="../../../static/ratemycourse/css/allPages.css" />
</head>

<body>
  @import "commonNavbar.html"
  <!-- Headers -->
  <div class="container mb-4">
    <div class="row my-1">
      <div class="col-md-12 text-white">
        <h1 class="display-5 mb-4 text-dark" id="courseName">{{course.name}}</h1>
        <nav role="navigation">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">{{course.school}}</li>
            <li class="breadcrumb-item active">{{course.department}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row my-1">
      <div class="col-md-2">
        <p class="lead my-2 text-dark text-right">开课学期</p>
      </div>
      <div class="col-md-10 px-5">
        <div class="dropdown my-1">
          <a class="btn btn-outline-info dropdown-toggle px-4" data-toggle="dropdown" href="javascript:void(0)" id="buttonSelectTerm">选择学期</a>
          <div class="dropdown-menu" id="termList">
            <a class="dropdown-item btn btn-primary " href="javascript:void(0)" onclick="choose_term(this.text)">2015年秋季</a>
            <a class="dropdown-item btn btn-primary " href="javascript:void(0)" onclick="choose_term(this.text)">2016年春季</a>
            <a class="dropdown-item btn btn-primary " href="javascript:void(0)" onclick="choose_term(this.text)">2016年秋季</a>
            <a class="dropdown-item btn btn-primary " href="javascript:void(0)" onclick="choose_term(this.text)">2017年春季</a>
            <a class="dropdown-item btn btn-primary " href="javascript:void(0)" onclick="choose_term(this.text)">2017年秋季</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-1">
      <div class="col-md-2">
        <p class="lead my-2 text-dark text-right">授课教师</p>
      </div>
      <div class="col-md-10 px-5">
        <div class="dropdown my-1">
          <a class="btn btn-outline-info dropdown-toggle px-4" data-toggle="dropdown" href="javascript:void(0)" id="buttonSelectTeacher">选择教师</a>
          <div class="dropdown-menu" id="teacherList"> </div>
        </div>
      </div>
    </div>
    {% for itemName in detail_names %}
    <div class="row  my-1">
      <div class="col-md-2">
        <p class="lead my-2 text-dark text-right">{{itemName}}</p>
      </div>
      <div class="col-md-10 px-5">
        <div class="btn-group text-dark my-1" id="{{forloop.counter0}}">
          <a class="star btn no-outline" href="javascript:void(0)">
            <i class="fa fa-star-o text-dark"></i>
          </a>
          <a class="star btn no-outline" href="javascript:void(0)">
            <i class="fa fa-star-o text-dark"></i>
          </a>
          <a class="star btn no-outline" href="javascript:void(0)">
            <i class="fa fa-star-o text-dark"></i>
          </a>
          <a class="star btn no-outline"  href="javascript:void(0)">
            <i class="fa fa-star-o text-dark"></i>
          </a>
          <a class="star btn no-outline" href="javascript:void(0)">
            <i class="fa fa-star-o text-dark"></i>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="row  my-1">
      <div class="col-md-2">
        <p class="lead my-2 text-dark text-right">写评价</p>
      </div>
      <div class="col-md-10 px-5">
        <textarea class="w-75 my-2" rows="10" id="writeCommentText">
          </textarea>
      </div>
    </div>
    <div class="row  my-1">
      <div class="col-md-2">
        <p class="lead my-2 text-dark text-right">匿名</p>
      </div>
      <div class="col-md-10 px-5">
        <input class= "my-3" id="anonymous" type="checkbox" value="true" class="mx-2">
      </div>
    </div>
    <div class="row  my-1">
      <div class="col-md-2">
      </div>
      <div class="col-md-10 px-5">
        <a class="btn btn-outline-success px-3" href="javascript:void(0)" onclick="return Func_submit()">
           提交
        </a>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-3">
        <p class="text-center text-dark my-5">© Copyright 2017 Flamenco - All rights reserved. </p>
      </div>
    </div>
  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../../static/ratemycourse/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
  <script src="../../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="../../../static/ratemycourse/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>
  <script src="../../../static/ratemycourse/jquery-validation-1.17.0/dist/jquery.validate.js"></script>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
  <script src="../../../static/ratemycourse/javascript/login.js"></script>
  <script src="../../../static/ratemycourse/javascript/animations.js"></script>
  <script src="../../../static/ratemycourse/javascript/ratePage.js"></script>
</body>

</html>
